In [9]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

cnst = pd.read_csv('dataset_1_constante').groupby('Nodos').mean()
lineal = pd.read_csv('dataset_1_lineal').groupby('Nodos').mean()
cuad = pd.read_csv('dataset_1_cuadratico').groupby('Nodos').mean()

cnst

,Aristas,Distancia,Gimnasios,Mochila,Podas,Pokeparadas,Recursiones,Soluciones,Tiempo
Nodos,,,,,,,,,
14,14,120,4,100,41475709,10,52073064,56,4251330719

In [6]:
lineal

,Aristas,Distancia,Gimnasios,Mochila,Podas,Pokeparadas,Recursiones,Soluciones,Tiempo
Nodos,,,,,,,,,
14,14,120,4,100,36248892,10,45847431,59,3816693639

In [7]:
cuad

,Aristas,Distancia,Gimnasios,Mochila,Podas,Pokeparadas,Recursiones,Soluciones,Tiempo
Nodos,,,,,,,,,
14,14,125,4,100,38387003,10,48683624,54,4032643892